@model HSStats.Models.Arena

@{
    ViewBag.Title = "Delete arena";
}

<h2>Delete arena</h2>

<h3>Are you sure you want to delete this arena and all related matches?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dust)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dust)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
    @Html.Action("ListOfMatches", "Arena")

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
