@model HSStats.Models.StatsViewModel

@{
    ViewBag.Title = "Stats";
}

<h2>Stats</h2>

@Html.Action("Filter", "Stats")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Heroes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeroesMatches)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeroesWins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeroesDefeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinPercentages)
        </th>
    </tr>
    @for ( int i = 0; i < Enum.GetNames(typeof(HSStats.Models.Heroes)).Length; i++ )
    {
        <tr>
            <td>
                @((HSStats.Models.Heroes)i)
            </td>
            <td>
                @Html.DisplayFor(model => model.HeroesMatches[i])
            </td>
            <td>
                @Html.DisplayFor(model => model.HeroesWins[i])
            </td>
            <td>
                @Html.DisplayFor(model => model.HeroesDefeats[i])
            </td>
            <td>
                @Html.DisplayFor(model => model.WinPercentages[i])
            </td>
        </tr>
    }
</table>
